<template name="Card">
    <div class="container">
            {{>navigate}}
        <div class="row">
            <a class="ready btn btn-danger col-md-push-5 col-xs-2">Battle!</a>
            <a class="clear btn btn-danger col-md-push-7 col-xs-2">Clear deck</a>
        </div>
		<div class="container"> 
			<div class="left-hand col-md-4">
				{{#each cards}}
					<div class="card panel panel-warning" data-toggle="tooltip" data-placement="right" data-html="true"
                         title="
                            Commander:{{commander}}<br>
							Cost:{{cost}} <br>
							Rules:{{rules}} <br>

							WeaponSkill:{{weaponSkill}}<br>
							BallisticSkill:{{ballisticSkill}}<br>
							Strength:{{strength}}<br>
							Toughness:{{toughness}}<br>
							Initiative:{{initiative}}<br>
							Speed:{{speed}}<br>
							Wound:{{wound}}<br>
							AttackCount:{{attackCount}}<br>
							Leadership:{{leadership}}<br>
							ArmorSave:{{armorSave}}<br>

							AvailableWeapon:{{availableWeapon}}<br>
                            ">
                        <div class="panel-heading">
                            <h3 class="panel-title">{{name}}</h3>
                        </div>
						<a class="id">{{@index}}</a>
                        <div class="panel-body">
                            {{description}}
                        </div>
					</div>
				{{/each}}
			</div>
			<div class="col-md-4">
			
			</div>

			<div class="right-hand col-md-4">

				{{#each deck}}
					<div class="added-card panel panel-warning" >
                        <div class="panel-heading">
                            <h3 class="panel-title">{{name}}</h3>
                        </div>
						<a class="id">{{@index}}</a>

                        <div class="panel-body">
                            {{description}}
                        </div>
					</div>
				{{/each}}
			</div>
		</div>
    </div>
    <!-- Скрипт для инициализации элементов на странице, имеющих атрибут data-toggle="tooltip" -->
    <script>
        $(function () {
            $("[data-toggle='tooltip']").tooltip();
        });
    </script>
</template>