<template name="Main">
    <div class="container">
            {{>navigate}}
        <header>
            {{>loginButtons}}
            {{Message}}
        </header>
        <div class="mainMessage">
            Идет сорок первое тысячелетие. Вот уже более десяти веков Император неподвижно восседает на своем Золотом Троне.<br>
            По воле богов Он стал лидером всего Человечества, а с мощью своих неутомимых армий — повелителем миллионов миров.<br>
            Его тленная оболочка незримо подпитывается энергией изобретений, дошедших из Темной Эры Технологий.<br>
            Он — Владыка Империума, которому ежедневно приносят в жертву тысячи душ, поэтому Он никогда не умрет до конца.<br>
            Быть человеком в такие времена означает быть песчинкой в громадной пустыне. Это значит жить под властью самого кровавого и жестокого режима из всех существующих.<br>
            Нужно забыть о власти технологии и науки, ведь уже многое было потеряно и никогда не возродится. Забыть обещания прогресса и разума.<br>
            Во мраке будущего есть только война.<br>
            Тем временем пока армии бога Императора сокрушают его врагов по всей галактике на окраине субсектора Танеш сигментума Ультима, в одной системе была обнаружена аномалия.<br>
            Объединенная  экспедиция Ордо Еретикус и Адептус Механикус обнаружила неизвестный артефакт.<br>
            Данный артефакт по мнению Механикус имеет свойства разрушителя варпа и является ценной находкой, ради которой легионы предателей могут пойти на всё.<br>
            Решением командования экспедиции было направленно астропатическое сообщение в центральное управление инквизиции сегментума Ультима для запроса поддержки к ангелам смерти Императора, полу богам Адептус Астартес.<br>
            По прибытию боевых кораблей Астартес на поверхности шли кровопролитные бои.<br>
            После того как десантные баржи вышли на орбиту планеты было перехвачено единственное сообщение от экспедиции: “Они не те кем кажутся…..” .<br>
            Так началась первая война за Колдерис V……<br>
        </div>
    </div>
</template>