<template name="PrivateOffice">
    <div class="container">
        <nav>
            {{>navigate}}
        </nav>
        <p>
            You player's id is {{currentUser._id }}
        </p>

        <p>
            You username is {{currentUser.username}}
        </p>

        <p>
            You have registered {{currentUser.createdAt}}
        </p>

        <p>
            You current rating by Elo {{currentUser.rateELO}}
        </p>

        <p>
            You current combine rating {{currentUser.rateCombine}}
        </p>

        <p>
            You current battle count is {{currentUser.battleCount}}
        </p>

        <p>
            You current win percent is {{currentUser.winPercent}}
        </p>
    </div>
</template>