<template name="PrivateOffice">
    <div class="container ">
            {{>navigate}}
        <div class="jumbotron">
            <p class="alert alert-warning">Ваша информация, отчеты боев и результаты</p>
            <table class="table table-hover">
                <tbody>
                    <tr>
                        <td>Username</td>
                        <th>{{currentUser.username}}</th>
                    </tr>
                    <tr>
                        <td>Registraton</td>
                        <th>{{currentUser.createdAt}}</th>
                    </tr>
                    <tr>
                        <td>ELO rating</td>
                        <th>{{currentUser.rateELO}}</th>
                    </tr>
                    <tr>
                        <td>Combine rating</td>
                        <th>{{currentUser.rateCombine}}</th>
                    </tr>
                    <tr>
                        <td>Overcome battles</td>
                        <th>{{currentUser.battleCount}}</th>
                    </tr>
                    <tr>
                        <td>Win percent is </td>
                        <th>{{currentUser.winPercent}}</th>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</template>