<template name="navigate">
    <script>
        $(document).prop('title','WCG40k:Khanid Company');
    </script>
        <nav class="navbar navbar-default br1" id="top-navbar">
            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                <ul class="nav navbar-nav">
                    <li><a href="/">Домашняя страница</a></li>
                    <li><a href="/News">Новости</a></li>
                    <li><a href="/personalData">Личный кабинет</a></li>
                    <li><a href="/card" id="gggg">Сборка колоды</a></li>
                    <li><a >{{>loginButtons}}</a></li>
                </ul>
            </div>
        </nav>
</template>