<template name="navigate">

        <nav class="navbar navbar-default">
            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                <ul class="nav navbar-nav">
                    <li><a href="/">Домашняя страница</a></li>
                    <li><a href="/News">Новости</a></li>
                    <li><a href="/personalData">Личный кабинет</a></li>
                    <li><a href="/card">Сборка колоды</a></li>
                    <li><a >{{>loginButtons}}</a></li>
                </ul>
            </div>
        </nav>
</template>