.battleBody
{
    background : lightgoldenrodyellow;
    overflow   : hidden;
    width      : 100vw;
    height     : 100vh;
    padding    : 0;
    margin     : 0;
}

#field
{
    width  : 100%;
    height : 80%;
}
.left-panel
{
    float:left;
    max-width: 50%;
    overflow-y:auto;
}
.right-panel
{
    max-width: 50%;
    overflow-y:auto;
}
