.battleBody
{
    background : lightgoldenrodyellow;
    overflow   : hidden;
    width      : 100vw;
    height     : 100vh;
    padding    : 0;
    margin     : 0;
}

#field
{
    width  : 100%;
    height : 80%;
}
.left-panel
{
    float:left;
    overflow-y:scroll;
    max-height: 18%;
}
.right-panel
{
    overflow-y:auto;
    max-height: 18%;
    overflow-x: hidden;
}
