.jumbotron{
    background: #1a1a1c;
    color: #f2eee5;

}
.navbar{
    color: #f2eee5;
    background: #1a1a1c;
    border-color: gold;
}
body{
    color: #f2eee5;
    background-color: #000!important;
}
.panel-title{
    color: gold;
}
.panel-default{
    color: #f2eee5;
    background-color: #1a1a1c;
    border-color: #f2eee5;
}
.panel-default:hover{
    color: gold;
    background-color: #1a1a1c;
    border-color: gold;
}
.panel-info{
    color: #f2eee5;
    background-color: #1a1a1c;
    border-color: #f2eee5;
}
.panel-info:hover{
    color: #f2eee5;
    background-color: #1a1a1c;
    border-color: #f2eee5;
}
#bs-example-navbar-collapse-1 > ul > li > a{
    color: #f2eee5;
}
#bs-example-navbar-collapse-1 > ul > li > a:hover{
    color: gold;
}
.table-hover > tbody > tr:hover{
    background-color: #1a1a1c;
}
.alert-default{
    background-color: #1a1a1c;
    color: #f2eee5;
}
 h3{
     background-color: #1a1a1c;
     border-color: #f2eee5;
     border: 1px;
 }
h4{
    background-color: #1a1a1c;
    border-color: #f2eee5;
    border: 1px;
}

h2{
    color: gold;
    background-color: #1a1a1c;
    border-color: #f2eee5;
    border: 1px;
}
a {
    color: #f2eee5; /* Цвет обычной ссылки */
}
a:visited {
    color: #f2eee5; /* Цвет посещенной ссылки */
}
a:hover {
    text-decoration: none; /* Убираем подчеркивание */
    color: gold; /* Цвет ссылки при наведении на нее курсора мыши */
}
.btn-danger{
    color: #f2eee5;
}

#card-predeck:hover{
    color: #f2eee5;
}
.left-panel{
    background-color: #1a1a1c;
}
.right-panel{
    background-color: #1a1a1c;
}
#equiped-weapon{
    color: gold;
    background-color: #1a1a1c;
    border-color: #f2eee5;
    border: 1px;
}
.btn-default{
    color: gold;
    border-color: #f2eee5;
    background-color: #1a1a1c;
}
.btn-default:hover{
    color: #1a1a1c;
    background-color: gold;
    border-color: #1a1a1c;
}
.btn-default:active{
    color: #000000;
    background-color: #dfb700;
    border-color: #000000;

}
.btn-default:focus{
    color: #1a1a1c;
    background-color: gold;
    border-color: #1a1a1c;
}
.btn-default:active:hover, .btn-default.active:hover, .open > .dropdown-toggle.btn-default:hover, .btn-default:active:focus, .btn-default.active:focus, .open > .dropdown-toggle.btn-default:focus, .btn-default:active.focus, .btn-default.active.focus, .open > .dropdown-toggle.btn-default.focus
{
    color: #000000;
    background-color: #dfb700;
    border-color: #000000;

}
#bf-bottom-bar{
    background-color: #1a1a1c;
}
#login-dropdown-list{
    background: #1a1a1c;
}
.login-close-text:active:hover, .btn-default.active:hover, .open > .dropdown-toggle.btn-default:hover, .btn-default:active:focus, .btn-default.active:focus, .open > .dropdown-toggle.btn-default:focus, .btn-default:active.focus, .btn-default.active.focus, .open > .dropdown-toggle.btn-default.focus
{
    color: #f2eee5!important;
}
.login-button{
    background-color: #1a1a1c!important;
    border-color: #f2eee5!important;
    color: gold!important;
}
.login-button:hover{
    background-color: gold!important;
    border-color: #1a1a1c!important;
    color: #1a1a1c!important;
}
.login-button:hover{
    border-color: gold!important;
}
.login-button:focus, .login-button:active, .login-button:focus:active{
    color: #000000!important;
    background-color: #dfb700!important;
    border-color: #000000!important;
}
.accounts-dialog * {
    color: gold ;
}
.accounts-dialog *:hover{

}
.accounts-dialog *:active:focus,.accounts-dialog *:active, .accounts-dialog *:focus{
}
input{
    background-color: #1a1a1c!important;
    border-color: #f2eee5!important;
}
#back-to-login-link:active:focus,#back-to-login-link:active, #back-to-login-link:focus,
#signup-link:active:focus,#signup-link:active,#signup-link:focus,
.login-close-text:active:focus,.login-close-text:active,.login-close-text:focus,.login-close-text:active:hover
{
    color: #dfb700!important;
}
#signup-link, #back-to-login-link,.login-close-text{
    color: #f2eee5;
}
#signup-link:hover,#back-to-login-link:hover{
    color: gold;
}

