.siteBody
{
    background      : #315481 url(/SiteResource/mainfon.jpg) no-repeat fixed;
    background-size : cover;
    min-font-size   : 14px;
    font-size       : 2vh;
    position        : absolute;
    top             : 0;
    bottom          : 0;
    left            : 0;
    right           : 0;
    padding         : 0;
    margin          : 0;
}
.whiteback
{
    background : white;
}

header
{
    background : #d2edf4 linear-gradient(to bottom, #d0edf5, #e1e5f0 100%);
    padding    : 20px 15px 15px 15px;
    position   : relative;
}

a.id
{
    display : none;
}

.card
{
    margin         : 5px;
}

.card-content
{
}


.added-card
{
    margin         : 5px;
}

.ready
{
    margin-left: 0;
    margin-right: auto;
    text-align: center;
}

.mainMessage
{
    margin     : 0 8px;
    font-family     :"Lucida Console", Monaco, monospace;
    font-size       :16px;
    text-align      :center;

}
#hand{
    max-height: 83vh;
    overflow-y: visible;
    overflow-x: hidden;
}
.h7vh{
    height: 7vh;
}
.navbar{
    height: 6vh;
    border: 1vh;
    margin-bottom: 1vh;
}
.br1 {
    border-radius: 1px !important;
}
.btn-danger{
    margin-left: 5px;
    margin-right: 5px;
}
#battlecardview{
    padding: 0.5vh;
}
h3{
    border-radius: 1px !important;
}
h4{
    border-radius: 1px !important;
}
#selected-weapon{
    min-height: 2.8vh;
    padding: 0.5vh;
}
.tooltip{
    z-index: 10;
}
#bf-bottom-bar{
    width: 100%;
    min-height: 54px;
    margin: 0;
}